<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.TF.Lite" version="2.15.0.1583" manuallyInstalled="true" />
  <package id="Emgu.TF.Lite.runtime.windows" version="2.15.0.1583" manuallyInstalled="true" />
  <package id="Emgu.runtime.windows.msvc.rt.x64" version="19.38.33133" />
  <package id="Emgu.runtime.windows.msvc.rt.x86" version="19.38.33133" />
  <package id="Microsoft.Azure.Kinect.BodyTracking" version="1.1.2" manuallyInstalled="true" />
  <package id="Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime" version="1.10.0" />
  <package id="Microsoft.Azure.Kinect.Sensor" version="1.4.1" />
</packages>